@model SelloACME.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terminated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terminated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.EmployeeId}) |
    @Html.ActionLink("Back to List", "Index")
</div>
