@model IEnumerable<SelloACME.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

    @using (Html.BeginForm("SearchEmployees", "Employees", FormMethod.Get))
    {
        @Html.TextBox("employee", "", new { maxlength = 50, size = 100, @class = "form-control mr-sm-2" })
        <button class="btn btn-primary" type="submit">Search</button>
    }
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

 <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Terminated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Person)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Terminated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Person.FirstName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
